.WorkoutCard {
  box-shadow: 1px 1px 2px gray, inset 1px 1px grey;
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
}

.WorkoutCard .title {
  text-transform: capitalize;
  font-variant: small-caps;
  color: gray;
}

.NoFrame {
  box-shadow: none;
  cursor: auto;
}

.ExerciseRow {
  display: contents;
}

.ExerciseGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr auto auto;
}
