.App {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

.logo {
  /* animation: logo-spin infinite 20s linear; */
  /* height: min(4vmin, 32px); */
  height: 32px;
  pointer-events: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* font-size: calc(10px + 2vmin); */
  font-size: 24px;
  color: white;
  background-color: #282c34;
  position: sticky;
  top: 0;
}

header {
  grid-area: "header";
}

main {
  grid-area: "main";
  margin: 0.5rem;
  max-width: 680px;
}

footer {
  grid-area: "footer";
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #282c34;
  position: sticky;
  bottom: 0;
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
