@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-light: white;
  --text-color-light-mode: #123;

  --bg-dark: #121212;
  --text-color-dark-mode: #45adfe;

  --spacingS: 0.5rem;
  --spacingM: 1rem;
  --spacingL: 1.5rem;

  --bg-color1: var(--bg-dark);
  --text-color1: var(--text-color-dark-mode);

  --app-max-width: 600px;
}

:root.light {
  --bg-color1: var(--bg-light);
  --text-color1: var(--text-color-light-mode);
}

:root.dark {
  --bg-color1: var(--bg-dark);
  --text-color1: var(--text-color-dark-mode);
}

html {
  background: gray;
}

body {
  background-color: var(--bg-color1);
  color: var(--text-color1);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* No support for larger screens for now */
  max-width: var(--app-max-width, 600px);
  margin: auto;
}

@media (prefers-color-scheme: light) {
  html:not(.light):not(.dark) body {
    background-color: var(--bg-light);
    color: greenyellow;
    color: var(--text-color-light-mode);
    --bg-color1: var(--bg-light);
    --text-color1: var(--text-color-light-mode);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-color1 {
  background-color: var(--bg-color1);
}

.text-color1 {
  color: var(--text-color1);
}

.box-border-1 {
  box-shadow: 1px 1px 2px gray, inset 1px 1px grey;
}
