.ModalSlider {
  background: var(--bg-color1);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 5vh;
  animation: slideIn 0.2s ease-out;
  border-top: 5px solid var(--text-color1);
  overflow: auto;

  max-width: var(--app-max-width, 600px);
  margin: auto;
}

.show.show {
  display: initial;
}

.hide.hide {
  display: none;
}

.TopBar {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  background-color: var(--bg-color1);
  box-shadow: 0px 2px var(--text-color1);
  padding: var(--spacingS) calc(var(--spacingS) * 0.75);
}

.Content {
  padding-bottom: 10vh;
  margin: var(--spacingM);
}

.ModalSlider > .TopBar > .Title {
  font-size: large;
}

@keyframes slideIn {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

.ModalSliderBackdrop {
  background-color: #000000a8;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  /* overflow: hidden; */
}
